.Header {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    font-weight: 200;
    color: white;
}

h4 {
    font-family: 'Quattrocento', serif;
    color: white;
}

.recipe-link {
    font-size: 12px;
    font-family: 'Cinzel', serif;
    color: white;
}

.top-container,
.middle-container,
.bottom-container {
    text-align: center;
}

.background-image {
    background-image: url(/images/food.jpeg);
    background-repeat: no-repeat;
    background-size: cover;  
}

body {
    color: white;
    background-color: #73777B;
}

.baozi,
.lasagna,
.pancakes,
.pizza,
.spaghetti {
    height: auto;
    width: 250px; 
}
